
/* ---------------------------------------- Header ---------------------------------------- */
.header {
  background-color: rgba($color-3, .8);
  position: absolute;
  z-index: 9999;
  width: 100%;
  .container {
    box-shadow: none;
    background-color: transparent;
  }
  &__main-nav {
    height: 57px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    li {
      height: 100%;
      color: $color-1;
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
        font-family: $font-4;
        font-size: 1.2rem;
        padding: 0 15px;
        height: 100%;
        color: currentColor;
        text-decoration: none;
        align-items: center;
        border-bottom: 2px solid transparent;
        transition: all .3s ease-in-out;
        &:hover, &.current {
          border-color: rgba($color-2, .5);
          text-shadow: 1px 0 0 $color-1;
        }
      }
    }
  }  
}
@media screen and (max-width: 992px) {
  .header {
    position: relative;
    &__main-nav {
      display: none;
      background-color: rgba(255,255,255,.95);
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      top: 100%;
      li {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        &:last-child {
          margin-right: auto;
        }
      }
    }
    .burger-button {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      float: right;
      span {
        display: block;
        width: 80%;
        height: 3px;
        background-color: $color-1;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -50%);
        transition: all .3s ease-in-out;
      }
      &:before, &:after {
        content: '';
        display: block;
        width: 80%;
        height: 3px;
        background-color: $color-1;
        position: absolute;
        left: 10%;
        transform-origin: 50% 50%;
        transition: all .3s ease-in-out;
      }
      &:before {
        top: 10px;
      }
      &:after {
        top: calc(100% - 13px);
      }
      &.clicked {
        span {
          opacity: 0;
        }
        &:before {
          top: 50%;
          transform: translate(0, -50%) rotate(135deg);
        }
        &:after {
          top: 50%;
          transform: translate(0, -50%) rotate(225deg);
        }
      }
    }
  } 
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .header {
    &__main-nav {
      li {
        margin-right: 2rem;
        a {
          font-size: 1rem;
          padding: 0 10px;
        }
      }
    }
  }  
}
/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------- Main carousel ------------------------------------ */
.main-carousel {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .bg-color {
    background-color: $color-2;
  }
  &__slide {
    .slide-outer {
      position: relative;
      padding-top: 54.02%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }    
    .slide-inner {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      padding: 0 15px;
      transform: translate(0, -50%);
      h2 {  
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.22);  
        font-family: $font-3;
        font-size: 5.5rem;
        margin-bottom: 7.5rem;
      } 
    }  
  }
}

@media screen and (max-width: 992px) {
  .main-carousel {
    &__slide {
      .slide-outer {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
      .slide-inner {
        position: relative;
        top: 0;
        transform: none;
        h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
        .btn {
          &_slide-more {
            padding: 5px 20px;
          }
        }
      }
    }   
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .main-carousel {
    &__slide {
      .slide-inner {
        h2 {
          font-size: 4rem;
          margin-bottom: 2rem;
        }
      }
    }   
  }
}

/* ---------------------------------------------------------------------------------------- */
/* ------------------------------------ Content block ------------------------------------ */
.content-block {
  b {
    font-family: $font-3;
  }
  .table-wrapper {
    overflow: auto;
  }
  .info-table {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;   
    box-shadow: 0px 5px 43px 0px rgba(0, 0, 0, 0.11);
    .header {
      position: static;
      width: auto;
    }
    td {
      padding: 10px 30px;
      font-size: 1rem;
      font-family: $color-1;
      border: 1px solid rgba(0,0,0,.05);
      background-color: #fff;
    }   
    th {
      padding: 20px 30px;
      font-family: $font-3;
      font-size: 1.25rem;
      line-height: 1.25rem;
      color: $color-3;
      background-color: $color-2;
      white-space: nowrap;
      cursor: pointer;
      transition: all .3s ease-in-out;
      .icon {
        transform-origin: 50% 50%;
        transition: all .3s ease-in-out;
      }
      &:hover, &.headerSortUp, &.headerSortDown {
        background-color: lighten($color-2, 4%);
      }
      &.headerSortUp {
        .icon {
          transform: translate(0, -50%) rotateX(180deg);
        }
      }
    }
    tr {
      &:first-child {
        border-bottom: 9px solid #fff;
      }
    }
  }
  @media screen and (max-width:992px) {
      .info-table {
        td {
          padding: 6px 30px;
          font-size: 1rem;
          font-family: $color-1;
          border: 1px solid rgba(0,0,0,.05);
          background-color: #fff;
        }   
        th {
          padding: 15px 25px;
          font-family: $font-3;
          font-size: 1rem;
          line-height: 1.25rem;
          color: $color-3;
          background-color: $color-2;
          cursor: pointer;
          transition: all .3s ease-in-out;
          white-space: nowrap;
          .icon {
            transform-origin: 50% 50%;
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  .container {
    padding: 60px 15px;
    img {
      display: block;
      border-radius: 8px;
    }
  }
}
@media screen and (max-width: 992px) {
  .content-block {
    .title {
      h2 {
        padding-bottom: 35px;
      }
    }
    .container {
      .btn-pos-min {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
      padding: 30px 15px;
    }
  }
}
/* --------------------------------------------------------------------------------------- */
/* ------------------------------------ Section title ------------------------------------ */
.section-title { 

  width: 100%;
  text-align: center;
  font-family: $font-4;
  margin: 0 0 1.25rem 0;
  padding: 0;
  &_b {
    h2 {
      font-family: $font-3;
    }
  }
  h2 {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  .section-title {
    padding-top: 10px;
    h2 {
      font-size: 1.55rem;
    }
    .txt-shadow {
      &:before {
        font-size: 2.6rem;
      }
    }
  }
}
/* --------------------------------------------------------------------------------------- */
/* ---------------------------------------- Schools --------------------------------------- */
.school-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
  transition: all .3s ease-in-out;
  background-color: $color-3;
  border-radius: 10px;
  height: 100%;
  .school-title {
    text-align: center;
    display: block;
    max-width: 275px;
    * {
      font-family: $font-4;
      font-size: 1.7rem;
      color: $color-1;
      transition: all .3s ease-in-out;
    }
  }
  .icons-area {
    .icon {
      color: $color-2;
      text-shadow: 2px 2px 5px rgba(0,0,0,.5);
      font-size: 9.5rem; 
      transition: all .3s ease-in-out;
    }
  }
  &_3 {
    .icons-area {
      .icon {
        font-size: 7.5rem; 
        &-6 {
          position: relative;
          left: 15px;
        } 
      }
    } 
  }
  &:hover {
    background-color: $color-2;
    .school-title {
      * {
        color: $color-3;
      }
    }
    .icons-area {
      .icon {
        color: $color-3;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .school-item {
    &_3 {
      .icons-area {
        .icon {
          font-size: 6rem; 
        }
      } 
    }
  }
}
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------- Teacher ---------------------------------------- */
.teachers-carousel {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  &__slide {
    margin-bottom: 20px;
    .slide-outer {
      position: relative;
      padding-top: 73.68%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .info-section {
      margin-top: 1.25rem;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      h4,p {
        margin: 0;
        padding: 0;
      }
      display: block;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      transition: all .3s ease-in-out;
      text-align: center;
      h4 {
        font-family: $font-3;
        font-size: 1.25rem;
      }
      p {
        margin-top: 1.25rem;
      }
    }
    .btn_slide-more {
      display: inline-block;
      overflow: hidden;
      margin-top: 0;
      padding: 0 38px;
      border-width: 0;
      max-height: 0;
      height: auto;   
    }
    &:hover {
      .info-section {
        padding-bottom: 2rem;
        .btn_slide-more {
          max-height: 100vh;
          margin-top: 1.25rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          border-width: 3px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .teachers-carousel {
    &__slide {
      .info-section {
        padding-bottom: 10px;
        .btn_slide-more {
          margin-top: 10px;
          max-height: 100vh;
          padding-top: 8px;
          padding-bottom: 8px;
          border-width: 3px;
        }
      }
      &:hover {
        display: none;
        .info-section {
          .btn_slide-more {
            max-height: 100vh;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------------------- */

/* ---------------------------------------- feed ---------------------------------------- */
.feed-carousel {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  &__slide {
    border-radius: 8px;
    margin-bottom: 20px;
    .slide-outer {
      border-radius: 8px;
      position: relative;
      padding-top: 73.68%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    .info-section {
      padding-left: 20px;
      padding-right: 15px;
      margin-top: 1.25rem;
      padding-bottom: 0;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      transition: all .3s ease-in-out;
      h4,p {
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
      }
      h4 {
       text-align: left;
      }
      p {
        
        display: inline-block;
      
        
      }
      span {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        padding-bottom: 15px;
      }
      display: block;
      padding-top: 20px;
      
      h4 {
        font-family: $font-3;
        font-size: 1.25rem;
        a {
          color: #000000;
        }
      }
      .btn_slide-more {
        display: inline-block;
        overflow: hidden;
        margin-top: 0;
        padding: 0 38px;
        border-width: 0;
        max-height: 0 ;
      }
    }
    &:hover {
      .info-section {
        padding-bottom: 2rem;
        .btn_slide-more {
          max-height: 100vh; 
          margin-top: 1.5rem;
          padding-top: 8px;
          padding-bottom: 8px;
          border-width: 3px ;
        }
      }
    }
    &_no-hover {
      &:hover {
        .info-section {
          padding-bottom: 0;
        }
      }
    }
  }
}

.feed-carousel-ctrl, .gallery-carousel-ctrl {
  .dots-place_white {
    top: 0;
    left: 0;
    .slick-dots {
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 992px) {
  .feed-carousel {
    &__slide {
      .info-section {
        padding-bottom: 10px;
        .btn_slide-more {
          max-height: 100vh; 
          padding-top: 8px;
          padding-bottom: 8px;
          border-width: 3px ;
        }
      }
      &:hover {
         display: none;
        .info-section {
          .btn_slide-more {
            max-height: 100vh; 
            padding-top: 8px;
            padding-bottom: 8px;
            border-width: 3px ;
          }
        }
      }
    }
  }
}

/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------- contact ---------------------------------------- */
.content-block {
  .section-title {
    &__contact {
      h2 {
        display: flex;
        justify-content: flex-start;
        font-family: $font-4;
        font-size: 2.5rem;
        margin-bottom: 28px;
      }  
    }
  }
  .information-items {
    a {
      display: block;
      margin-top: 22px;
      color: #000000;
      font-family: $font-1;
      font-size: 1rem;
      text-decoration: none;
    }
    .number {
      padding-left: 38px;
      background-repeat: no-repeat;
      background-image: url(../img/number.png);
      background-position: 0 50%;
    }
    .mail {
      padding-left: 38px;
      background-repeat: no-repeat;
      background-image: url(../img/message.png);
      background-position: 0 50%;
    }
    .location {
      padding-left: 38px;
      background-repeat: no-repeat;
      background-image: url(../img/location.png);
      background-position: 0 50%;
    }

  }
  .social-items {
    padding-top: 60px;
    a {
      display: block; 
      text-decoration: none;
      color: #000000;
      font-family: $font-1;
      font-size: 1rem;
    }
    .fb {
      padding-left: 38px;
      background-repeat: no-repeat;
      background-image: url(../img/fb.png);
      background-position: 0 50%;
    }
    .instagram {
      margin-top: 22px;
      padding-left: 38px;
      background-repeat: no-repeat;
      background-image: url(../img/instagram.png);
      background-position: 0 50%;
    }
  }
  #map {
    border-radius: 8px;
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.15);
    height: 425px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .content-block {
    .social-items {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .section-title {
      &__contact {
        h2 {
          display: flex;
          justify-content: center;
        }  
      }
    }
  }
}
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------- footer ---------------------------------------- */
.footer {
  background-color: #323232; 
  p {
    color: #ffffff;
    text-align: center;
    font-family: $font-1;
    font-size: 1rem;
    padding-top: 12px;
    padding-bottom: 20px;
  }
}
/* ---------------------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------------------------- */
/* ---------------------------------------- VOCAL PAGE ---------------------------------------- */
/* -------------------------------------------------------------------------------------------- */




.main-carousel {
  &__slide_one {
    .slide-inner {
      h2 {
        span {   
          font-family: $font-4;
          font-size: 1.6rem;
        }
      }
    }
  }
  &__slide {
    .slide-inner {
      .main-carousel__slide__title-wrapper {
        margin-bottom: 2rem;
        display: block;

        span {
          display: block;
          font-family: $font-4;
          font-size: 1.6rem;
        }
        h2 {
          display: inline-block;
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

/* ---------------------------------------- gallery carousel ---------------------------------------- */
.gallery-carousel {
  &__slide {
    .slide-outer {
      border-radius: 8px;
      height: 330px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

@media screen and (max-width:992px) {
  .gallery-carousel {
    display: none;
  }
}

/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------- */
/* ---------------------------------------- ABOUT PAGE ---------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

.main-carousel {
  &__slide {
    &_one {
      &__white-text {
        color: $color-3;
        a {
          color: $color-3;
        }
      }
    }
  }
}


/* ---------------------------------------- section reasons ---------------------------------------- */
.reasons {
  b {
    font-family: $font-3;
  }
  font-family: $font-1;
  font-size: 1rem;
  .title-text {
    padding-bottom: 30px;
  }
  .title {
    font-family: $font-4;
    font-size: 2.5rem;
  }
  .reason-items {
    .item {
        padding-left: 70px;
        background-repeat: no-repeat;
        background-position: 0 6px;
     
    } 
  }
}
/* -------------------------------------------------------------------------------------------------- */



/* ---------------------------------------- section additional information -------------------------- */
.content-block {
  font-size: 1rem;
  font-family: $font-1;
  .title {
    h2 {
      padding-bottom: 45px;
      font-family: $font-4;
      font-size: 2.5rem
    }
  }
} 

@media screen and (max-width:992px) {
  .content-block {
    .inf-img {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
  }
}

/* -------------------------------------------------------------------------------------------------- */

.btn_slide-more {
  background-color: rgba(255,255,255,.36);
}

.text-about {
  p {
    font-family: $font-5;
  }
}

.about-img {
  img {
    box-shadow: 0px 5px 51px 0px rgba(0, 0, 0, 0.2);    
  }
}

.icon-sort {
  width: 15px;
  height: 15px;
  top: 2px;
  &:after {
    width: 89%;
    height: 89%;
  }
}


/* -------------------------------------------------------------------------------------------- */
/* ---------------------------------------- OPEN NEWS PAGE ---------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

/* ---------------------------------------- news --------------------------------------------------- */
.content-block {
  .title-news {
    font-family: $font-4;
    h2 {
      font-family: $font-3;
      font-size: 2.5rem;      
    }  
  }
}

@media screen and (max-width: 768px) {
  .content-block {
    .title-news {
      margin-top: 40px;
      h2{
        font-size: 2rem;
      }  
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .content-block {
    .title-news {
      margin-top: 50px; 
    }
  }
}
/* -------------------------------------------------------------------------------------------------- */


.pagination-nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    background-color: #fff;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    border-radius: 50%;
    margin: 0 5px;
    &.current, &:hover {
      a {
        color: #468acf;
      }
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 12px;
      line-height: 28px;
      color: #2a3037;
      font-family: $font-5;
    }
    &:first-child, &:last-child {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      transform-origin: 50% 50%;
      a {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 14px;
      }
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
      }
    }
    &:first-child {
      margin-left: 0;
      margin-right: 15px;
      a {
        background-image: url(../img/slider-arr-left.png);
      }
    }
    &:last-child {
      margin-right: 0;
      margin-left: 15px;
      a {
        background-image: url(../img/slider-arr-right.png);
      }
    }
  }
}












/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */