
{{#additional-information}}
<section class="content-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
      <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="section-title">
                <div data-parent="{{data-about-title}}" class="txt-shadow">
                  <h2>
                    {{about-title}}            
                  </h2>
                </div>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-7">
            <p>
              Шановні батьки! Безпека і здоров’я вашої дитини першочергова задача для нас. Ми дотримуємось всіх норм і правил безпечного перебування дітей в нашій креативній школі. Камери, які відслітковують перебування вашої дитини в школі встановлені у відповідних місцях, звідки ми зможемо точно зрозуміти де знаходиться ваша дитини в данний момент часу.   
            </p>
            <p>Увага! Ми не несемо відповідальності за дітей, які знаходяться за межами шкільного паркану. Прохання батьків маленьких дітей приводити дитину власноруч і не покидати її перед воротами школи!!!
              Креативна школа Павла Табакова пишається забеспеченням високоякісного навчання у своїй галузі.
              Щоб досягнути цього статусу повага, дисципліна і правомірна поведінка надзвичайно важливі! 
            </p>
            <p>   
              Це важливо у випадках допомоги учням, коли з'ясовуються особисті стосунки. Також впенитись, що це не повпливає негативно на навчання інших учнів нашої школи. Подібні ситуації щодо поведінки і відношень між учнями, виясняються на загальних зборах і навіть вирішується у кооперації з батьками, чи відповідальними особами учнів. Як правило, в школі є особа відповідальна за навчально-виховну роботу з учнями. Також, вашій дитині буде надана перша медична допомога у разі такої необхідності.
            </p>
          </div>
          <div class="col-12 col-lg-4 offset-lg-1">
            <div class="inf-img">
              <img src="assets/img/shield.png" alt="shield" class="img-fluid">
            </div>
   
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/additional-information}}
