{{#schools}}
<section class="content-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <div data-parent="{{data-about-title}}" class="txt-shadow">
            <h2>
              {{about-title}}              
            </h2>
          </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4">
        <a href="#" class="school-item school-item_1">
          <div class="school-title mb-3 mb-lg-5 mx-auto">
            <div data-parent="Вокал" class="txt-shadow">
              <h2>#Курс Вокалу</h2>
            </div>
          </div>
          <div class="icons-area d-flex justify-content-between">
            <i class="icon icon-1"></i>
            <i class="icon icon-3 mt-5"></i>
            <i class="icon icon-2"></i>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-4">
        <a href="#" class="school-item school-item_2">
          <div class="school-title mb-3 mb-lg-5 mx-auto">
            <div data-parent="Акторська майстерність" class="txt-shadow txt-shadow_wrap">
              <h2>#Курс<br>Акторської майстерності</h2>
            </div>
          </div>
          <div class="icons-area d-flex justify-content-center">
            <i class="icon icon-4"></i>
          </div>
        </a>
      </div>
      <div class="col-12 col-lg-4">
        <a href="#" class="school-item school-item_3">
          <div class="school-title mb-3 mb-lg-5 mx-auto">
            <div data-parent="Хореографія" class="txt-shadow">
              <h2>#Курс хореографії</h2>
            </div>
          </div>
          <div class="icons-area d-flex justify-content-between">
            <i class="icon icon-5"></i>
            <i class="icon icon-6 mt-5"></i>
            <i class="icon icon-7"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{/schools}}