{{#section-vacancy}}
<section class="vacancy">
  <div class="container main-container">
    <div class="vacancy__main">
      <div class="row ">
        <div class="col-12">
          <div class="section-title  text-center ">
            <div data-parent="{{data-about-title}}" class="txt-shadow txt-vacancy ">
              <h2>
                {{about-title}}
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div class="vacancy__main__block d-flex">
        <!-- <div class="vacancy__main__block__left-accordion col-12 col-lg-6 col-md-6"> -->
          <div class="accordion js-accordion">
            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер один</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <h2>Вимоги:</h2>
                  <ul>
                    <li>Досвід роботи в маркетингу від 1 року,</li>
                    <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                    <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                    <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                    <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                  </ul>

                  <h2>Обовязки:</h2>
                  <ul>
                      <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                      <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Робота з підрядниками і документами,</li>
                      <li>Розвиток сайту і соціальних мереж компанії.</li>
                    </ul>

                    <h2>Умови роботи:</h2>
                  <ul>
                      <li>Цікавий проект,</li>
                      <li>Молода команда професіоналів,</li>
                      <li>Гідна оплата за результатами співбесіди,</li>
                      <li>Офіс в центрі міста</li>
                    </ul>
                    <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>

                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер два</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер три</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер чотири</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер пять</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер шість</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
          <!-- </div> -->
      



        <!-- <div class="vacancy__main__block__right-accordion col-12 col-lg-6 col-md-6"> -->
          <!-- <div class="accordion js-accordion"> -->
              <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер сім</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер вісім</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер девять</div>
              <div class="accordion-body js-accordion-body" >
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер десять</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div> <!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер одинадцять</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->

            <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
              <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер дванадцять</div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                    <h2>Вимоги:</h2>
                    <ul>
                      <li>Досвід роботи в маркетингу від 1 року,</li>
                      <li>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</li>
                      <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                      <li>Стресостійкість та вміння працювати в умовах багатозадачності,</li>
                      <li>Активна життєва позиція, впевненість в собі і власних силах</li>
                    </ul>
  
                    <h2>Обовязки:</h2>
                    <ul>
                        <li>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</li>
                        <li>Складання медіа-планів, ведення та аналітика рекламних кампаній,</li>
                        <li>Володіння інструментами web-аналітики і графічними редакторами,</li>
                        <li>Робота з підрядниками і документами,</li>
                        <li>Розвиток сайту і соціальних мереж компанії.</li>
                      </ul>
  
                      <h2>Умови роботи:</h2>
                    <ul>
                        <li>Цікавий проект,</li>
                        <li>Молода команда професіоналів,</li>
                        <li>Гідна оплата за результатами співбесіди,</li>
                        <li>Офіс в центрі міста</li>
                      </ul>
                      <h2>Якщо хочеш стати частиної нашої команди телефонуй за номером 063-85-68-210</h2>
                </div>
              </div><!-- end of accordion body -->
            </div><!-- end of accordion item -->
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>



















    </div>
  </div>
</section>


{{/section-vacancy}}