{{#current-teacher}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/about }}
  {{> templates/teachers }}
  {{> templates/schools }}
  {{> templates/contacts }}
  {{> templates/foot }}
{{/current-teacher}}