{{#home}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/main-carousel }}  
  {{> templates/about }} 
  {{> templates/teachers }} 
  {{> templates/feed  }} 
  {{> templates/contacts  }} 
  {{> templates/foot }}
{{/home}}